<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="logIn()">
    <div>
        <label for="username">User name: </label>
        <input id="username" type="text" formControlName="userName">
        @if (loginForm.get('userName')?.invalid && (loginForm.get('userName')?.dirty || loginForm.get('userName')?.touched)) {
            <div class="alert alert-danger">
                @if (loginForm.get('userName')?.hasError('required')) {
                    <div>Name is required.</div>
                }
            </div>
        }
    </div>

    <div>
        <label for="password">Password: </label>
        <input id="password" type="password" formControlName="password">
        @if (loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)) {
            <div class="alert alert-danger">
                @if (loginForm.get('password')?.hasError('required')) {
                    <div>Name is required.</div>
                }
                @if (loginForm.get('password')?.hasError('minlength')) {
                    <div>Name must be at least 8 characters long.</div>
                }
                @if (loginForm.get('password')?.hasError('maxlength')) {
                    <div>The name must be a maximum of 10 characters.</div>
                }
            </div>
        }
    </div>

    <button type="submit" [disabled]="loginForm.valid == false">Log in</button>
</form>